html, body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

div{
    margin: 0 auto;
    padding: 0;
    width: 20rem;
    height: 20rem;
    background-color:burlywood;
    border: .05rem solid #000000;
    margin-top: 1rem;
}

.one{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    top: 50%;
    transform: translateY(-50%);
}

.two{}

.three{}

.four{}

.five{}

.six{}
