html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 62.5%;
    box-sizing: border-box;
    display: block;
    
}

.dice{
    width: 20rem;
    height: 20rem;
    border: .6rem solid #000000;
    border-radius: 4rem;
    display: block;
    box-sizing: border-box;
}

.center{
    margin: 0 auto;
}

.margin{
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.dot{
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: #000000;
    display: block;
    border-radius: 8rem;
    border: .4rem solid #bfb7b7;
    box-sizing: border-box;
    
}

.right_float{
    clear: both;
    float: right;

}

.top{
    top:1.5rem;
    
}

.middle{
    top: 10rem;
    transform: translateY(-6.5rem);
    
        
}

.bottom{
    top:10rem;
    transform: translateY(-4.5rem);
    
}

.five{
    margin: 0 auto;
    top: 3.5rem;
}

.one{
    margin: 0 auto;
    top: 7rem;
    
}

.hidden{
    visibility: hidden;
    
}

@media only screen and (max-width: 850px){
    div{
        transform: scale(.8) rotate(10deg);
    }
}
    
@media only screen and (max-width: 800px){
    div{
        transform: scale(.8) rotate(20deg);
    }
    
}


@media only screen and (max-width: 750px){
    div{
        transform: scale(.8) rotate(30deg);
    }
}
    
@media only screen and (max-width: 700px){
    div{
        transform: scale(.8) rotate(40deg);
    }
    
}

@media only screen and (max-width: 650px){
    div{
        transform: scale(.8) rotate(50deg);
    }
}
    
@media only screen and (max-width: 600px){
    div{
        transform: scale(.8) rotate(60deg);
    }
}


@media only screen and (max-width: 550px){
    div{
        transform: scale(.8) rotate(70deg);
    }
}
    
@media only screen and (max-width: 500px){
    div{
        transform: scale(.8) rotate(80deg);
    }
    
}


@media only screen and (max-width: 450px){
    div{
        transform: scale(.8) rotate(90deg);
    }
}
    