html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 62.5%;
}

div{
    margin: 0 auto;
    padding: 0;
    width: 15rem;
    height: 15rem;
    background-color:burlywood;
    border: .05rem solid #000000;
    margin-top: 1rem;
}
/* used on dice 1,3,5 */
.five-mid-cntr{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    top: 50%;
    transform: translateY(-50%);
}

/* used on dice 2,3,4,5,6*/

.one-t-left{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    float: left;
}

/* used on dice 2,3,4,5,6*/

.two-b-right{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    float: right;
    top:50%;
    transform: translateY(50%);
    
}

/* used on dice 4,5,6 */

.three-b-left{
    position: relative;
    margin: 0;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    top: 50%;
    transform: translateY(50%);
    clear:inherit;
}

.four-t-right{
    position:relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    float: right;
    top: -50%;
    transform: translateY(50%);
    clear: all;
}




/* dice #6 */

.one-t-left{}

.two-t-right{}

.three-m-left{}

.four-m-right{}

.five-b-left{}

.six-b-right{}
