html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 62.5%;
    box-sizing: border-box;
    display: block;
    
}

.dice{
    width: 20rem;
    height: 20rem;
    border: .6rem solid #000000;
    border-radius: 4rem;
    display: block;
    box-sizing: border-box;
}

.center{
    margin: 0 auto;
}

.margin{
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.dot{
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: #000000;
    display: block;
    border-radius: 8rem;
    border: .4rem solid #bfb7b7;
    box-sizing: border-box;
    
}

.right_float{
    clear: both;
    float: right;

}

.top{
    top:1.5rem;
    
}

.middle{
    top: 10rem;
    transform: translateY(-6.5rem);
    
        
}

.bottom{
    top:10rem;
    transform: translateY(-4.5rem);
    
}

.five{
    margin: 0 auto;
    top: 3.5rem;
}

.one{
    margin: 0 auto;
    top: 7rem;
    
}

.hidden{
    visibility: hidden;
    
}