html, body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

div{
    margin: 0 auto;
    padding: 0;
    width: 15rem;
    height: 15rem;
    background-color:burlywood;
    border: .05rem solid #000000;
    margin-top: 1rem;
}
/* used on dice 1,5 */
.one{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    top: 50%;
    transform: translateY(-50%);
}

/* used on dice 2,3*/

.one-t-left{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    float: left;
}

.two-b-right{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    float: right;
    top:50%;
    transform: translateY(50%);
    
}

/* used on dice 3, */

.three-mid{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    top: 50%;
    transform: translateY(-50%);
}




/* dice #6 */

.one-t-left{}

.two-t-right{}

.three-m-left{}

.four-m-right{}

.five-b-left{}

.six-b-right{}
