html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 62.5%;
}

div{
    
    margin: 0 auto;
    padding: 0;
    width: 20rem; 
    height: 20rem;
    border: .05rem solid #000000;
    margin-top: 1rem;
}
/* used on dice 1,3 */

.five-mid-cntr{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    top: 50%;
    transform: translateY(-50%);
}

/* used on dice 2,3,4,5,6*/

.one-t-left{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    clear: both;
    float: left;
}

/* used on dice 2,3,4,5,6*/

.two-b-right{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    float: right;
    clear: both;
    top: 50%;
}

/* used on dice 3,4,5,6 */

.three-b-left{
    position: relative;
    margin: 0;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    top: 50%;
    transform: translateY(-100%);
    clear:both;
}

/* used on dice 4,5,6 */

.four-t-right{
    position:relative;
    margin: 0;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    float: right;
    clear: both;
    top:-50%;
    transform: translateY(-100%);
}

#five-only{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    clear: both;
    top: -100%;
    transform: translateY(150%);
    
}

/* dice #6 */

#mid-cntr-five{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    clear: both;
    float: left;
    top: -50%;
    transform: translateY(-50%);
}

#mid-cntr-six{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 5rem;
    height: 5rem;
    background-color: #000000;
    display: block;
    border-radius: 5rem;
    clear:both;
    float: right;
    top: -50%;
    transform: translateY(-150%);
}



@media only screen and ( max-width:800px){

    .top{
        margin: 0 auto;
        padding: 0;
        background-color: lawngreen;
        display:inline-block;
    }
    
    
    .under{
        margin: 0 auto;
        padding: 0;
        background-color: red;
        display:inline-block;
    }
}


@media only screen and ( max-width:600px){
    
.top:nth-of-type(1){
        position: relative;
        margin: 0 auto;
        padding: 0;
        float: left;
        background-color: lawngreen;
        display:inline-block;
        transform: scale(.50) rotate(45deg);
        
        
    }
.top:nth-of-type(2){
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
    background-color: palevioletred;
    display: inline-block;
    transform: scale(.50) rotate(45deg);
        
    }
        
.top:nth-of-type(3){
    position: relative;
    margin: 0:
    padding: 0;
    background-color: orange;
    display: inline-block;
    transform: scale(.50) rotate(45deg);
        
    }
    
    
.under:nth-of-type(4){
        position: relative;
        margin: 0 auto;
        padding: 0;
        background-color: red;
        display: inline-block;
        transform: scale(.50) rotate(45deg);
        float: left;
        
    }
    
.under:nth-of-type(5){
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: yellow;
    display: inline-block;
    transform: scale(.50) rotate(45deg);
    float: left;
    }

.under:nth-of-type(6){
    display: none;
    }    
    
}
