html, body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

div{
    margin: 0 auto;
    padding: 0;
    width: 10rem;
    height: 10rem;
    background-color:burlywood;
    border: .05rem solid #000000;
    margin-top: 1rem;
}

.one{}

.two{}

.three{}

.four{}

.five{}

.six{}
