html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 62.5%;
    box-sizing: border-box;
    display: block;
    
}

.dice{
    width: 20rem;
    height: 20rem;
    border: .5rem solid #000000;
    border-radius: 5rem;
    display: block;
    box-sizing: border-box;
}

.center{
    margin: 0 auto;
    text-align: center;
}

.dot{
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: #000000;
    display: block;
    border-radius: 8rem;
    border: .4rem solid #bfb7b7;
    box-sizing: border-box;
    
}

.space_dice{
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}

.middle{
    position: relative;
    top:50%;
    transform: translateY(-50%);
        
}

